/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/node_modules/
/yarn-error.log

/core/
/Gemfile.lock

/vendor
.gem_rbs_collection

sig
rbs_collection.lock.yaml
